form {
  width: 100%;
}

fieldset {
  border: none;
}

label {
  display: block;
  color: blue;
  font-size: 20px;
  margin-bottom: 15px;
}

input,
select {
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  width: 200px;
  font-size: 18px;
  line-height: 1.5em;
}

input {
  margin-bottom: 15px;
}
