.mobile-card {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.mobile-card__img {
  width: calc(15% - 15px);
  margin-right: 15px;
  position: relative;
  height: 150px;
  overflow: hidden;
  text-align: center;
}

img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.mobile-card__text {
  width: calc(80% - 15px);
  margin-left: 15px;
}

.mobile-card__title {
  display: inline-block;
  font-size: 24px;
  color: blue;
  margin-bottom: 20px;
}

.mobile-card__descr {
  font-size: 18px;
  color: black;
}
